.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__logo {
    max-width: 200px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.burger-menu {
    height: 18px;
    width: 25px;
    position: relative;
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: .7;
    }

    span {
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        width: 13px;
        height: 2px;
        background: #D9D9D9;
        border-radius: 8px;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #D9D9D9;
        border-radius: 8px;
        right: 0;
    }
    &:before{
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

.header__menu{
    position: absolute;
}